DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=jonatas_baptista_website
DB_USER=root
DB_PASS=

JWT_SECRET=change-me
JWT_TTL=3600

APP_URL=http://localhost:8000

ADMIN_NAME=Administrator
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
